<div class="card mx-auto">
  <div id="cImgContainer" class="card-img-container">
    <img [src]="esPlayerCard.img" class="card-img-top img-fluid" [alt]="esPlayerCard.name">
  </div>
  <div class="card-content text-center">
    <h5 class="card-title">{{esPlayerCard.name}}</h5>
    <div class="row">
      <div class="col-sm-6">
        <p class="card-text ">penalties: {{esPlayerCard.penalties}}</p>
        <p class="card-text">crosses: {{esPlayerCard.crosses}}</p>
        <p class="card-text">acceleration: {{esPlayerCard.acceleration}}</p>
      </div>
      <div class="col-sm-6">
        <p class="card-text">dribbling: {{esPlayerCard.dribbling}}</p>
        <p class="card-text">volleys: {{esPlayerCard.volleys}}</p>
        <p class="card-text">longShots: {{esPlayerCard.longShots}}</p>
      </div>
    </div>
  </div>
</div>

