@import '~font-awesome/css/font-awesome.css';

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 0.9em;
  background-color: transparent;
}

.breadcrumb__item {
  display: inline-flex;
  align-items: center;
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #343a40;
    cursor: pointer;
  }

  &.router-link-active {
    color: #343a40;
    font-weight: 600;
  }
}

.breadcrumb__icon {
  margin: 0 8px;
  color: #adb5bd;
  opacity: 0.5;
}


