<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <ng-container *ngIf="route.firstChild">
        <li class="breadcrumb-item">
            <a [routerLink]="['/detail', route.firstChild.snapshot.params['id']]">{{ route.firstChild.snapshot.data['breadcrumb'] }}</a>
        </li>
        <ng-container *ngIf="route.firstChild.firstChild">
          <li class="breadcrumb-item">
            <a [routerLink]="['/detail', route.firstChild.snapshot.params['id'], 'video']">{{ route.firstChild.firstChild.snapshot.data['breadcrumb'] }}</a>
          </li>
          <ng-container *ngIf="route.firstChild.firstChild.firstChild">
            <li class="breadcrumb-item">
              <a [routerLink]="['/detail', route.firstChild.snapshot.params['id'], 'video', 'history']">{{ route.firstChild.firstChild.firstChild.snapshot.data['breadcrumb'] }}</a>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ol>
  </nav> -->
  

  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbList; let last = last" [ngClass]="{ 'active': last }">
        <a *ngIf="!last" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
        <span *ngIf="last">{{breadcrumb.label}}</span>
        <span *ngIf="breadcrumb.id">({{breadcrumb.id}})</span>
      </li>
    </ol>
  </nav> -->
  