@mixin navbar-color {
    .navbar {
      background-color: #F8F5E4;
      margin-bottom: 2%;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      padding-left: 1.3em;
    }
  }
  @include navbar-color;
  
  