<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav flex-column ml-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'home'">Home</a>
    </li>
  </ul>
  <span class="form-inline mr-sm-2">
    <select class="form-control" #selectedLang (change)="switchLanguage(selectedLang.value)">
      <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
        {{ language }}
      </option>
    </select>
  </span>
</nav>



<!-- <span *ngFor="let url of navigation.getHistory(); let i = index">    
    {{i}}={{url}}  
</span> -->