  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item" routerLinkActive="active"> -->
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="'home'">Home</a>
            </li>
          <!-- <li><a  routerLink="/detail/{{playerId.id}}">Detail</a></li>
          <li><a  routerLink="/detail/{{playerId.id}}/video">Video</a></li>
          <li><a  routerLink="/detail/{{playerId.id}}/history">History</a></li> -->
            <li >
              <button (click)="navigation.goBack()">Back to {{navigation.getPreviousUrl()}} </button>
          </li>

        </ul>
    </div>
</nav>
<h3>History</h3>

<span *ngFor="let url of navigation.getHistory(); let i = index">    
    {{i}}={{url}}  
</span>