
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="playerId.img" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{playerId.name}}</h5>
          <p class="card-text" routerLink="/detail/{{playerId.id}}/video">Video</p>
          <p class="card-text" routerLink="/detail/{{playerId.id}}/history">Equiment History</p>
        </div>
      </div>
    </div>
  </div>