<div class="video-grid">
    <div class="video-grid__item">
      <iframe src="https://www.youtube.com/embed/VIDEO_ID_1"></iframe>
    </div>
    <div class="video-grid__item">
      <iframe src="https://www.youtube.com/embed/VIDEO_ID_2"></iframe>
    </div>
    <div class="video-grid__item">
      <iframe src="https://www.youtube.com/embed/VIDEO_ID_3"></iframe>
    </div>
    <div class="video-grid__item">
      <iframe src="https://www.youtube.com/embed/VIDEO_ID_4"></iframe>
    </div>
  </div>
  