

$transition-speed: 0.6s;
$background-card:#1aa5b480;

@mixin card-content($background-card) {
background-color: $background-card;
}

@mixin card-flexbox() {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}




